.login-window {
    display: flex; /* Allows controlling the layout one-dimension at a time */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* 100% of viewport's height */
    background-color: white;
}

.login-logo {
    position: absolute;
    top: 30px;
    left: 50px;
}

.login-form {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 1px solid #222;
    font-size: 16px;
}

input:focus {
    border: none;
    outline: 2px solid #06b;
}

.inputerror {
    outline: 2px solid #e42;
}

.login-textbox {
    margin-bottom: 20px;
}

.pwd-textbox {
    position: relative; /* Must be relative, so that the absolute position elements inside will be realtive to this element */
}

.show-hide-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #06b;
    cursor: pointer;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #06b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #048;
}

.error-message {
    color: #e42;
    font-size: 16px;
    text-align: left;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f6f6f6;
    border-top: 5px solid #06b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
