/* Common styling for all pages */
.main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.description {
    font-weight: 400;
    color: #466;
    white-space: nowrap;
}

.description-big {
    margin-top: 10vh;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner-transparent {
    width: 60px;
    height: 60px;
    border: 10px solid transparent;
    border-top: 10px solid #06b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mobile-menu-item {
    display: block;
    margin: 0 !important;
    padding: 20px;
    font-size: 20px !important;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    .description {
        padding-left: 20px !important;
        font-size: 32px !important;
    }

    .description-big {
        padding-left: 0 !important;
        font-size: 48px !important;
    }
}

/* iPad Pro 12 */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .description {
        padding-left: 15px !important;
        font-size: 24px !important;
    }

    .description-big {
        padding-left: 0 !important;
        font-size: 32px !important;
    }
}

/* Galaxy Note 5 */
@media only screen and (max-width: 480px) {
    .description {
        padding-left: 10px !important;
        font-size: 16px !important;
    }

    .description-big {
        padding-left: 0 !important;
        font-size: 24px !important;
    }
}