.not-found {
    margin-top: 100px !important;
}

.not-found a {
    padding-left: 15px;
    text-decoration: none;
    color: #06b;
}

.not-found a:hover {
    text-decoration: underline;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    .not-found a {
        font-size: 24px;
    }
}

/* iPad Pro 12 */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .not-found a {
        font-size: 18px;
    }
}

/* Galaxy Note 5 */
@media only screen and (max-width: 480px) {
    .not-found a {
        font-size: 14px;
    }
}