.table {
    display: flex;
    justify-content: center;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc !important;
    padding: 10px;
}

th {
    background-color: #f6f6f6;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    .table {
        font-size: 18px !important;
    }
}

/* iPad Pro 12 */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .table {
        font-size: 16px !important;
    }
}

/* Galaxy Note 5 */
@media only screen and (max-width: 480px) {
    .table {
        font-size: 14px !important;
    }
}