.table {
    display: flex;
    justify-content: center;
}

.table-desktop {
    font-size: 18px;
}

.table-mobile {
    font-size: 32px;
}

table {
    border-collapse: collapse;
    width: 750px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f6f6f6;
}
