.logo {
    font-weight: 600;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.logo a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    text-decoration: none;
}

.logo-desktop {
    font-size: 32px;
}

.logo-mobile {
    font-size: 48px;
}

.logo-first {
    display: inline;
    padding-right: 3px;
    color: #06b;
}

.logo-second {
    display: inline;
    padding: 0 5px 0 5px;
    color: white;
    border-radius: 4px;
    background-color: #06b;
}
