.error-window {
    height: 100vh;
    background-color: white;
}

.error-logo {
    position: absolute;
}

.error {
    padding-top: 25vh;
    padding-left: 10vw;
}

.error a {
    text-decoration: none;
    color: #06b;
}

.error a:hover {
    text-decoration: underline;
}

.error-description {
    font-weight: 400;
    color: #466;
    white-space: nowrap;
}

@media only screen and (min-width: 481px) {
    .error-description {
        font-size: 32px;
    }

    .error-logo {
        top: 30px;
        left: 50px;
    }

    .error a {
        font-size: 24px;
    }
}

/* Galaxy Note 5 */
@media only screen and (max-width: 480px) {
    .error-description {
        font-size: 14px;
    }

    .error-logo {
        top: 20px;
        left: 20px;
    }

    .error a {
        font-size: 14px;
    }
}
