.user-desktop {
    position: relative;
}

.user a {
    font-size: 16px;
    color: #06b;
}

.user a:hover {
    text-decoration: underline;
}

.user-window-desktop {
    position: absolute;
    width: 200px;
    transform: translateX(-163px);
    margin-top: 11px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.user-role {
    text-align: left;
}

/* For mobile devices */
.hamburger {
    vertical-align: middle;
    transform:translateY(-0.13em);
    font-size: 64px;
    line-height: 0em;
    background: none;
    border: none;
}

.user-window-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.user-window-mobile a:hover {
    background-color: #f6f6f6;
}

.x-wrapper {
    padding: 20px;
    text-align: right;
    color: white;
}

.x {
    font-size: 40px;
    background: none;
    border: none;
}

.login-or-out {
    color: #06b;
}

.login-or-out:hover {
    background-color: white !important;
}