.container, .container-fluid {
    padding: 0; /* Getting rid of Bootstrap's default setting of 12px for left and right paddings. */
    background-color: white;
}

/* Make main element within the layout page take up available space, so that the entire page fills the viewport's height. */
.layout {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 100vh;
    background-color: white;
}

header, footer {
    flex-shrink: 0; /* Prevent shrinking */
}

header {
    background-color: white;
}

header a, header a:hover {
    text-decoration: none;
}

.sticky {
    position: sticky; /* Making header always appear on top */
    top: 0;
    left: 0;
}

.scrolled {
    border-bottom: 1px solid #06b;
}

main {
    flex-grow: 1; /* Take up available space */
}

@media only screen and (min-width: 601px) {
    main {
        margin: 0 80px 0 80px;
    }

    header, footer {
        padding: 20px 80px 20px 80px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 0 40px 0 40px;
    }
    
    header, footer {
        padding: 20px 40px 20px 40px;
    }
}