/* .logo-wrapper {
    min-width: 400px;
    flex-shrink: 0;
    background-color: red;
} */

.navigation-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}
