body {
    font-family: "Figtree", sans-serif;
    color: #222;
}


/* Getting rid of Bootstrap's default margins and paddings */
.container, .container-fluid, .row, div[class^="col-"] {
    margin: 0;
    padding: 0;
}
